groups:
- name: node-alerts
  rules:
  - alert: HighCPUUsage
    expr: avg(rate(node_cpu_seconds_total{mode!="idle"}[2m])) > 0.8
    for: 2m
    labels:
      severity: warning
    annotations:
      description: CPU usage is above 80%

