- name: Create monitoring network
  containers.podman.podman_network:
    name: monitoring_net
    state: present

- name: Run Prometheus container
  containers.podman.podman_container:
    name: prometheus
    image: quay.io/prometheus/prometheus:latest
    state: started
    restart_policy: always
    network: monitoring_net
    ports:
      - "9090:9090"
    volumes:
      - "{{ role_path }}/files/prometheus.yml:/etc/prometheus/prometheus.yml:Z"
      - "{{ role_path }}/files/rules:/etc/prometheus/rules:Z"

